
body { margin: 0; background-color: #333; font-family: sans-serif; }

.header-colores {
    display: flex;
    padding: 10px;
    gap: 10px; 
}
.rojo { flex: 3; background-color: #ff6b6b; height: 100px; }
.azul { flex: 1; background-color: #4ecdc4; height: 100px; }
.amarillo { flex: 0.5; background-color: #ffe66d; height: 100px; }

.menu-nav {
    display: flex;
    justify-content: center; 
    background-color: #222;
    padding: 10px;
    gap: 5px;
}
.item {
    background-color: #444;
    color: white;
    padding: 5px 15px;
    border: 1px solid #666;
    font-size: 0.8rem;
}

.contenido-principal {
    display: flex;
    background-color: #eee;
    margin: 20px;
    padding: 20px;
    height: 400px;
    gap: 20px;
    justify-content: space-between;
}
.col-lateral {
    flex: 1;
    background-color: #ccc;
}
.col-centro {
    flex: 2;
    background-color: #ddd;
}

/* FOOTER */
.pie-pagina {
    background-color: #222;
    height: 80px;
    margin-top: 20px;
}